:root {
  --cell-min-size: 3rem;
  --cell-border-color: #777;
  --cell-bg-color: hsl(39, 100%, 83%);
  --cell-border-zone-width: 30%;
  --big-number-size: 2rem;
  --affected-bg-color: #baa;
  --selected-bg-color: #cbb;
  --invalid-text-color: red;
}
* {
  box-sizing: border-box;
}

button {
  padding: 0.5rem;
}

#selectMode {
  min-width: 9rem;
}

#sudoku-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 0rem;
  gap: 1rem;
  width: fit-content;
}

#board {
    display: grid;
    width: fit-content;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
    border: 2px solid #222;
  }
  .number-content, .number {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .cell {
    width: var(--cell-min-size);
    height: var(--cell-min-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted var(--cell-border-color);
    background-color: var(--cell-bg-color);
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  .cell.box-border-left {
    border-left: 1px solid #111;
  }
  .cell.box-border-top {
    border-top: 1px solid #111;
  }
  .cell.row-8 {
    margin-bottom: 0;
  }
  .cell.column-8 {
    margin-right: 0;
  }
  .cell-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--cell-border-zone-width);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  .cell:hover {
    background-color: #dcc;
    border-color: #111;
  }
  .cell.affected {
    background-color: var(--affected-bg-color);
  }
  .cell.selected .number-content {
    background-color: var(--selected-bg-color);
  }
  .cell.selected {
    border: 2px dashed #222;
  }

.cell.affected .cell-border {
    background-color: var(--affected-bg-color);
}
.cell.illegal {
  color: red;
}
.number-content {
    font-size: var(--big-number-size);
    text-align: center;
    border: none;
}
.unmodifiable .number-content {
  color: #444;
}
.invalid .number-content {
    color: var(--invalid-text-color);
}

#controls {
  width: fit-content;
}

#controls .number-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
  
#controls .number {
  border: 5px outset #888;
  background-color: #777;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

#controls .number:hover {
  background-color: #999;
}
#controls .number:active {
  background-color: #ccc;
  border-style: inset;
}
#controls button {
  width: 100%;
}