:root {
  --cell-min-size: 1rem;
  --cell-border-color: #777;
  --cell-bg-color: hsl(39, 100%, 83%);
  --cell-border-zone-width: 30%;
  --big-number-size: 2rem;
  --affected-bg-color: #baa;
  --selected-bg-color: #cbb;
  --invalid-text-color: red;
  box-sizing: border-box;
}

#sudoku-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  max-height: 70%;
  max-width: 70%;
  padding: 1rem 0rem;
}

#board {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    height: 100%;
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
    margin: auto;
    border: 1px solid #222;
  }
  .number-content, .number {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .cell {
    height: 2em;
    width: 2em;
    min-width: var(--cell-min-size);
    min-height: var(--cell-min-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted var(--cell-border-color);
    background-color: var(--cell-bg-color);
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  .cell:nth-child(9n) {
    margin-right: 0;
  }
  .cell:nth-child(27n-0),
  .cell:nth-child(27n-1),
  .cell:nth-child(27n-2),
  .cell:nth-child(27n-3),
  .cell:nth-child(27n-4),
  .cell:nth-child(27n-5),
  .cell:nth-child(27n-6),
  .cell:nth-child(27n-7),
  .cell:nth-child(27n-8) {
    border-bottom: 1px solid #222;
  }

  .cell:nth-child(27n+1),
  .cell:nth-child(27n+2),
  .cell:nth-child(27n+3),
  .cell:nth-child(27n+4),
  .cell:nth-child(27n+5),
  .cell:nth-child(27n+6),
  .cell:nth-child(27n+7),
  .cell:nth-child(27n+8),
  .cell:nth-child(27n+9) {
    border-top: 1px solid #222;
  }
  .cell:nth-child(3n) {
    border-right: 1px solid #222;
  }
  .cell:nth-child(3n+1) {
    border-left: 1px solid #222;
  }
  .cell-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--cell-border-zone-width);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  .cell:hover {
    background-color: #dcc;
    border-color: #111;
  }
  .cell.affected {
    background-color: var(--affected-bg-color);
  }
  .cell.selected .number-content {
    background-color: var(--selected-bg-color);
  }
  .cell.selected {
    border: 2px dashed #222;
  }

.cell.affected .cell-border {
    background-color: var(--affected-bg-color);
}
.number-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    font-size: var(--big-number-size);
    text-align: center;
    border: none;
}
.unmodifiable .number-content {
  color: #444;
}
.invalid .number-content {
    color: var(--invalid-text-color);
}

#controls {
  display: flex;
  grid-column: 6 / 8;
  grid-row: 2 / 5;
  flex-direction: column;
}
#controls .number-container {
  display: grid;
  gap: 1px;
  aspect-ratio: 1;
  grid-template-columns: repeat(3, 1fr);
}
#controls .number {
  border: 5px outset #888;
  background-color: #777;
}
#controls .number:hover {
  background-color: #999;
}
#controls .number:active {
  background-color: #ccc;
  border-style: inset;
}